@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);


}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --input-padding: 10px;
    --input-border-color: #ccc;
    --input-focus-border-color: gray;
    --input-border-radius: 12px;
    --font-inter: 'Inter', sans-serif;
    --color-primary: #8f297a;
    --color-secondary: #6d2e8f;
    --color-third: #52508f;
    --card-background: #0a0a0a;
    --card-border: #818181;
    --spacing-base:20px;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

body{
    background-image: url("@/assets/mainbackground.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input[type=text], 
input[type=password] {
    padding-top: var(--input-padding);
    padding-bottom: var(--input-padding);
    padding-left: calc(var(--input-padding) * 2);
    padding-right: calc(var(--input-padding) * 2);
    color: white;
    background-color: black;
    border: 2px solid #ccc;
    border-radius: var(--input-border-radius);
    font-size: 16px;
    outline: none;
    width: 100%;
    transition: border-color 0.3s ease;
}
input[type=text].focus,
input[type=password].focus {
    border-color: var(--input-focus-border-color);
}
input::placeholder{
    color: #aaa;
}

.multipart-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 60px;
    width: fit-content;
    border: 2px solid darkviolet;
    background-color: black;
    border-radius: 15px;
    align-self: center;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.primary-button {
    background: linear-gradient(to right, rgba(171, 14, 255, 0.4), rgba(104, 97, 255, 0.4));
    font-weight: bold;
    align-items: center;
    border: none;
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 50px;
    text-align: center;
}

.bg-pattern{
    background-color: #000000;
    opacity: 0.8;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #000000 10px ), repeating-linear-gradient( #8F297A55, #8F297A );
}

@layer base{
    *{
        @apply font-[Inter] m-0 p-0
    }
    body{
        @apply min-h-screen
    }
}

@layer utilities {
    .primary-gradient {
        @apply bg-gradient-to-r from-[var(--color-primary)] via-[var(--color-secondary)] to-[var(--color-third)];
    }
    .text-gradient {
        @apply bg-gradient-to-r from-[var(--color-primary)] via-[var(--color-secondary)] to-[var(--color-third)] bg-clip-text text-transparent;
    }
    .link {
        @apply text-[var(--color-secondary)] hover:text-gradient underline transition-colors duration-150;
    }
    .card{
        @apply 
    }
}

@layer components{
    .auth-form{
        @apply flex flex-col justify-center
    }
    .media-header{
        @apply text-white text-center text-3xl
    }
    .dashboard-button{
        @apply text-white px-4 py-1 cursor-pointer hover:bg-neutral-700 hover:rounded-full transition-[0.3s]
    }
    .dashboard-active-button{
        @apply text-white px-4 py-1 cursor-pointer bg-neutral-600 hover:bg-neutral-500 rounded-xl transition-[0.3s]
    }
    
}