.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--input-border-radius);
    overflow: hidden;
    background-color: black;
    color: white;
    padding-right: var(--input-padding);
}