
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}


.welcome-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../assets/mainbackground.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 90px;
}

.button_container {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.title_text {
    color: white;
    margin-bottom: 300px;
    font-size: 70px;
}

@media (max-width: 320px), (max-width: 480px), (max-width: 600px) {
    .button_container {
        flex-direction: column;
        gap: 30px;
    }
}